/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: PT sans-serif;
}

img {
  width: 100%;
}

/* HEADER */
#header {
  /* width: 100%; */
  /* border: 2px solid red; */
  display: flex;
}

.container-header {
  justify-content: space-between;
  background-color: rgb(4, 161, 213);
  display: flex;
  align-items: center;
  height: 5rem;
  border: 2px solid green;
  width: 100%;
  padding: 1rem;
}

.hamburger {
  display: flex;
}

.fa .fa-bars .fa-solid {
  font-size: 40px;
}

.menu-header {
  display: none;
}

.ul {
  list-style-type: none;
  display: flex;
}

header .ul li {
  margin-left: 1em;
}
/* MAIN */

/* MEDIA-QWERY-TABLET */
@media screen and (min-width: 768px) {
  #header {
    display: flex;
  }

  #section-cards .container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /* #section-cards .card {
    width: calc(100% / 3 - (1.5em * 2 / 3));
  }

  #section-cards .card:first-child {
    width: calc(100% / 3 * 2 - 1.5em);
  } */

  #section-planning {
    display: flex;
  }
  .container-cards {
    display: flex;
    flex-wrap: wrap;
  }
}

/* MEDIA-QWERY-DESKTIOP */
@media screen and (min-width: 992px) {
  .container-header {
    padding-left: 7em;
    padding-right: 7em;
  }

  #header {
    display: flex;
  }

  .menu-header {
    display: flex;
  }

  #section-cards {
    display: flex;
  }

  .container-cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card-first .card {
    height: 15em;
  }
  #section-planning {
    display: flex;
  }
  .hamburger {
    display: none;
  }
}

/* SECTION-CARDS */

#section-cards .card {
  /* margin: 1.5em auto; */
  /* display: block; */
}
.container-cards {
  display: flex;
  flex-wrap: wrap;
}

.card-first {
  background-color: rgb(0, 200, 255);
  flex-basis: calc(66.6666% - 1em);
  border-radius: 4px;
  height: 30em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 1em;
  padding: 1em;
}

.card {
  background-color: rgb(0, 200, 255);
  flex-basis: calc(33.3333% - 1em);
  border-radius: 8px;
  height: 30em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 1em;
  padding: 1em;
}

/* SECTION-PLANNING */

.section-planning {
  background-color: violet;
}
.container-flex {
  display: block;

  width: 100%;
}
.planning-1 {
  background-color: violet;
  width: 50%;
}

.planning-2 {
  background-color: white;
  border-radius: 1rem;
  width: 50%;
}
