/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: PT sans-serif;
}

img {
  width: 100%;
}

/* HEADER */
#header {
  display: flex;
}

.container-header {
  justify-content: space-between;
  background-color: rgb(53, 90, 255);
  display: flex;
  align-items: center;
  height: 5rem;
  width: 100%;
  padding: 1rem;
}

.hamburger {
  display: flex;
}

.fa .fa-bars .fa-solid {
  font-size: 40px;
}

.menu-header {
  display: none;
}

.ul {
  list-style-type: none;
  display: flex;
}

header .ul li {
  margin-left: 1em;
}
/* MAIN */

/* MEDIA-QWERY-TABLET */
@media screen and (min-width: 768px) {
  #header {
    display: flex;
  }

  #section-cards,
  .container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card-first {
    display: block;
  }

  #section-planning,
  .container-flex {
    display: block;
    width: 100%;
  }

  .container-cards {
    display: flex;
    flex-wrap: wrap;
  }
}

/* MEDIA-QWERY-DESKTIOP */
@media screen and (min-width: 992px) {
  .container-header {
    padding-left: 7em;
    padding-right: 7em;
  }

  .hamburger {
    display: none;
  }
  #header {
    display: flex;
  }

  .menu-header {
    display: flex;
  }

  #section-cards {
    display: flex;
    width: 80%;
    margin: 0 auto;
  }

  .container-cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card-first,
  .card {
    display: flex;
    width: 50%;
  }
  #section-planning {
    display: flex;
  }
  .container-flex {
    display: flex;
    width: 100%;
  }
  .planning-1,
  .planning-2 {
    display: flex;
    width: 50%;
  }
}

/* SECTION-CARDS */

#section-cards {
  display: flex;
}
.container-cards {
  display: flex;
  flex-wrap: wrap;
}
.card-block {
  background-color: rgb(138, 210, 255);
  flex-basis: calc(33.3333% - 1em);
  border-radius: 8px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 1em;
  padding: 1em;
  text-align: center;
}
.card-first {
  justify-content: space-between;
  flex-basis: calc(66.6666% - 1em);
  background-color: rgb(138, 210, 255);
  border-radius: 8px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 1em;
  padding: 1em;
}
.fa-solid {
  font-size: xx-large;
}
/* SECTION-PLANNING */

.section-planning {
  background-color: violet;
}
.container-flex {
  display: block;
  width: 100%;
}
