/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: PT sans-serif;
}

img {
  width: 100%;
}

/* HEADER */
.container {
  /* width: 100%; */
  border: 2px solid red;
  /* display: flex; */
}

.container-header {
  background-color: rgb(4, 161, 213);
  display: flex;
  align-items: center;
  height: 5rem;
  border: 2px solid green;
  width: 100%;
  justify-content: space-between;
}

.menu-header {
  display: block;
}

/* MAIN */
